<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.4.0" targetFramework="net451" />
  <package id="BouncyCastle" version="1.8.4" targetFramework="net451" />
  <package id="DnsClient" version="1.0.7" targetFramework="net451" />
  <package id="EmitMapper" version="1.0.0" targetFramework="net451" />
  <package id="log4net" version="2.0.8" targetFramework="net451" />
  <package id="Mail.dll" version="3.0.17241.1703" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.7.3" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.7.3" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.7.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="3.6.1" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net451" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net451" />
</packages>